
FriendOrganizer/FriendOrganizer.UI/obj/

FriendOrganizer/FriendOrganizer.Model/obj/

FriendOrganizer/FriendOrganizer.DataAccess/bin/

FriendOrganizer/FriendOrganizer.DataAccess/obj/

FriendOrganizer/FriendOrganizer.UI/bin/

FriendOrganizer/.vs/
